@import de.htwg.se.connect4.model.boardComponent.boardBaseImpl.Color
@(controller:de.htwg.se.connect4.controller.controllerComponent.ControllerInterface, id:Int)

@getPlayersColor(row:Int, col:Int) = @{controller.getPlayers(controller.getCurrentPlayerIndex).color.toString}
@getSizeOfRows() = @{controller.sizeOfCols}

@getPreviewCellIndex(col:Int)= @{
    var idx = controller.sizeOfRows-1
    var found = false
    while(!found && idx >= 0){
    found = !controller.cell(idx,col).isSet
    idx -= 1
    }
    if(found) {
      idx+1
    }
}

@main("Welcome to Play") {
    <h1>Connect 4</h1>
    <div class="container">
        @if(controller.getPlayers.size != 2){
            <p>Please enter your name.</p>
            <form action="/games/@id/init" method="post">
                <label for="inputfield">Ihre Eingabe:</label>
                <input type="text" id="inputField" name="inputField"></input>
                <input type="submit" value="Submit">
            </form>
        } else {
            <div class="list-group list-group-horizontal">
                <a role="button" class="btn btn-primary list-group-item list-group-item-action" href="/games/@id/restart">
                   Restart Game
                </a>
                <a class="btn btn-primary list-group-item list-group-item-action flex-fill" href="/games/@id/quit" role="button">Quit Game</a>
                <a class="btn btn-primary list-group-item list-group-item-action flex-fill disabled" role="button">Save Game</a>
                <a class="btn btn-primary list-group-item list-group-item-action flex-fill" href="/games/@id/undo" role="button">Undo</a>
                <a class="btn btn-primary list-group-item list-group-item-action flex-fill" href="/games/@id/redo" role="button">Redo</a>
            </div>
        <div class="board">
            @for(row <- 0 until controller.sizeOfRows) {
                <div class="boardrow">
                @for(col <- 0 until controller.sizeOfCols) {
                    <span id="cell-row-@row-col-@col" class="cell unset" onclick="turn(@id, @col)" onmouseenter="zoomIn(@col, @id)" onmouseleave="zoomOut()"></span>
                } </div>
            }
        </div>
        <div> @{if(controller.getState.toString().equals("InGameState")) {controller.getPlayerDemandString} else {controller.stateString}}</div>
        <form action="/games/@id" method="post">
            <label for="inputfield">Ihre Eingabe:</label>
            <input type="text" id="inputField" name="inputField"></input>
            <input type="submit" value="Submit">
        </form>
            <hr>
            Zurück zur <a href="/games">Lobby</a>
    </div>

}
}
